:root {
  --heading-font: "Open Sans", sans-serif;
  --subheading-font: "Roboto", sans-serif;
  --body-font: "Montserrat", sans-serif;
}
/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}



body {
  margin: 0 auto;
  padding: 10px;
  background-color: white;
  width: 100%;
  max-width: 900px;
}

h1 {
  font-family: var(--heading-font);
  margin: 0;
  padding: 0;
}

h2, h3 {
  font-family: var(--subheading-font);
  margin: 0;
  padding: 0;
}

p, li, a, figcaption, button {
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

header button {
  border: none;
  background-color: transparent;
}

nav ul{
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  list-style-type: none;
  flex-wrap: wrap;
}

nav a {
  color: white;
  text-decoration: none;
}

.hero {
  position: relative;
  text-align: center;
  color: white;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.Own {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  top: 20px;
  margin-left: 5px;
  margin-top: -10px;
  position: absolute;
  background-color: rgb(255, 255, 255, 0.8);
  text-align: left;
  height: auto;
  
}

.Own h2{
  padding: 1px;
  margin: 0px;
  font-size: clamp(1rem, 3vw, 3.5rem);
  font-weight: bold;
  color: rgb(0, 13, 255);
}

.Own ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.Own li{
  padding: 0;
  margin: 0;
  font-size: clamp(0.7rem, 2vw, 2.5rem);
  color: rgb(0, 58, 55);
}

.Own button {
  margin-top: 20px;
  width: 30vw;
  max-width: 200px;
  background-color: transparent;
  border: none;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.upgrades {
  max-width: 450px;
}

.upgrades h3{
  font-size: x-large;
  margin-bottom: 10px;
} 

.upgrades .images {
  display: grid;
  grid-template-columns: repeat(2, 120px);
  column-gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: -20px;
}
figure {
  width: 100%;
  text-align: center;
}

.Upgradeimage {
  background-color: rgb(0, 102, 255);
  height: 70px;
  width: 100%;
}

.Upgradeimage img{
  width: 50px;
  height: auto;
  margin-top: 10px;
}

.reviews h3{
  font-size: x-large;
  margin-bottom: 10px;
}

.reviews li{
  font-size: 20px;
  margin-bottom: 10px;
}

#inv-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  margin-top: 20px;
  padding: 10px;
  gap: 20px;
  place-content: center;
}

#inv-display li{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 2px solid black;
  max-height: 280px;
  border-radius: 6px;
  overflow: hidden;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}

#inv-display img{
  width: 100%;
  height: auto;
  border-radius: 6px;
}

#inv-display h2{
  font-size: 0.8rem;
}

#inv-display hr{
  border-top: 2px solid black;
  padding-top: -10px;
}

#inv-display .namePrice{
  padding-bottom: 20px;
}

#inv-detail-display {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

#inv-info{
  width: 300px;
}

#inv-info ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#inv-info li {
  padding: 20px 1px;
  font-size: large;
}

#inv-image {
  max-width: 500px;
  width: 100%;
}

#inv-image img {
  width: 100%;
  height: auto;
}

#inv-info li:nth-child(odd) {
 background-color: rgb(233, 233, 233);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid black;
  background-color: rgb(154, 154, 253);
  border-radius: 12px;
  padding-bottom: 10px;
  
  h2 {
    font-size: 1.5rem;
    margin-left: 20px;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-left: 20px;

    label {
      font-size: 1.2rem;
      width: 200px;

      span {
        font-size: 1rem;
      }

      input, select {
        display: block;
        width: 200px;
        height: 32px;
        border-radius: 12px;
      }

      textarea {
        display: block;
        width: 300px;
        height: 100px;
        border-radius: 12px;
      }

      input:required:invalid, input:focus:invalid {
        border-right: 10px red solid;
      }
      input:required:valid {
        border-right: 10px rgb(4, 255, 4) solid;
      }
    }

    button {
      font-size: 1rem;
      display: block;
      width: fit-content;
      padding: 10px;
      border-radius: 12px;
      margin: 0;
    }
  }


  button {
    width: fit-content;
    padding: 10px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: rgb(0, 102, 255);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 20px;
  }

  button:disabled {
    background-color: rgb(138, 152, 172);
    cursor: not-allowed;
  }

  p  {
    text-align: center;
    font-size: 1rem;
  }
}



#add-classification button, #add-vehicle button {
  width: 200px;
}

#account_buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#update_account {
  max-width: 100%;
  background-color: white;
  border: none;
  border-radius: 0;

  div {
    width: 100%;
    span {
      width: 100%;
    }
  }
  input, select {
    border-radius: 0;
    width: 300px;
  }
}

#reviews{
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 10px;
}

#reviews #reviews_container {
  position: relative;
  background-color: rgb(142, 146, 150);
  border-top: 2px solid black;
  padding: 5px;
}

#reviews #reviews_container #review_date{
  text-align: right;
}

#reviews_container button{
  position: absolute;
  right: 10px;
  top: 5px;
  border: none;
  background-color: transparent;

  a {
    text-decoration: none;
    font-size: large;
  }
}


@media (min-width: 740px) {
  body {
    margin: 20px auto;
    border: 6px solid rgb(156, 156, 244);
  }

  html {
    /* The page-wide background image */
    background-image: url('/images/site/small_check.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
  }
  
}